body {
  font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: x-small;
    max-width: 100%;
    touch-action: manipulation;
    
}

html {
  scroll-behavior: smooth;
}

header {
    height: 100vh;
    display: flex;
    background-color: #f0eaea;
    background-size: cover;
}


.navigation_bar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 30px;
  background-color: #19a752;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;

  z-index: 200;
}


nav {
  display: flex;
  flex-direction: row;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background-color: #333;
}

nav h5 {
  margin: 0;
}

.mid-section {
  height: 80vh; 
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  background-color: #c6e8d6;
}

.mid-section4 {
  height: 80vh; 
  align-items: center; 
  background-color: #3abe78;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  }

.sammar {
  color: white;
}

.collage-container {
  width: 70%; /* Set the width of the container to 80% */
  height: 40vh; /* Set the height of the container to 40vh */
  margin: 0 auto; /* Center the container horizontally */
}

.image-collage {
  display: flex;
  flex-wrap: wrap; /* Allow images to wrap to multiple rows */
  gap: 5px; /* Set the gap between images */
  justify-content: center;
}

.image-collage img {
  width: 10%; /* Set the width of each image to 30px */
  height: auto;
  object-fit: contain;
  margin: 5px; /* Set the gap between images */
}


.abtlogo {
    position: absolute;
    width: 60%;
    left: 20%;
    top: 20%;
    animation: move-up 2s forwards;
    animation-delay: 2s;
  }

.infdiv {
    position: relative;
    width: 80%;
    left: 10%;
    text-align: center;
    top: 30%;
    color: #19a752;
    font-size: x-small;
}

.arrow {
  position: relative;
  width: 40px;
  top: 20%;
}


/* vi tilbyr */

.tilbud {

  position: relative;
  align-items: center;
  text-align: center;
  width: 60%;
  color: rgb(45, 49, 41);
  font-size: small;
}

ul {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  margin: 5%;
  padding: 0%;
}

li:hover {
  transform: scale(1.2);
  animation: ease-in-out;
  animation-duration: 1s;
}



/*referanser*/

.about {
    height: 300vh;
    display: flex;
}

.about-title {
  writing-mode: vertical-rl;
  color: #19A76F;
  position: sticky;
  top: 0;
  width: 20%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}


.about-pages {
    width: 80%;
    align-items: center;
}
.about-pages div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
}

.about-pages div> p{
    width: 80%;
    font-size: 18px;
    line-height: 30px;
}

.about-pages div:nth-child(1) {
    background-color: #708B75;
}
.about-pages div:nth-child(2) {
    background-color: #8FD9A8;
}
.about-pages div:nth-child(3) {
    background-color: #689C80;
}



/*ansatte*/

.mid-section2 {
  height: auto; 
  display: flex;
  flex-direction: column; /* change direction to vertical */
  justify-content: center;
  align-items: center; /* center horizontally */
  background-color: #c6e8d6;
}


.employees {
  display: flex;
  flex-wrap: wrap; /* allow employees to wrap to a new line */
  justify-content: center;
}

.employee {
  width: 20%;
  min-width: 300px; /* set a minimum width for each employee */
  margin: 20px; /* add some margin between employees */
  background-color: #457b62;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}

.employee_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px; /* add some margin to separate from the image */
  margin-bottom: 30px;
  color: rgb(206, 206, 206);
}

.employee_img {
  width: 100%;
  max-height: 300px; 
  object-fit: cover;
  object-position: top; 
}

.tel {
  margin-top: 10px; /* add some margin to separate the contact info */
  background-color: rgb(157, 157, 167);
  border-radius: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 80%;
  text-decoration: none;
}


h2 {
  text-decoration: none;
}

/* Kontakt */

.mid-section3 {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-items: center;
  align-items: center;
  background-color: #629960;
  color: black;
}

h1 {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.contact_info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10vh, 1fr));
  justify-items: center;
  align-items: center;
  width: 30%;
}

.contact_info a {
  text-decoration: none;
}

.contact_info div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.contact_info div:hover {
  transform: scale(1.1);
}

.contact_info div img {
  width: 50%;
}

.map {
  width: 60%;
  height: 250px;
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  padding-bottom: 30px;
}


/* Footer */

footer {
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: rgb(79, 153, 118);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
  }
  
  .footerInfo {
    width: 30%;
    height: 80%;
    color: rgb(225, 225, 225);
    margin-left: 10%;
    margin-bottom: 30px;
  }
  
  .buttons-container {
    display: flex;
    position: absolute;
    width: 40%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    right: 15%;
}
  
  .socialbtn {
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    margin-right: 10px;
  }

  .socialbtn img {
    width: 40%;
  }
  
  .socialbtn:hover img {
    filter: invert(100%);
  
  }
  
  #facebook:hover {
    background-color: #3b5998;
  }
  
  #instagram:hover {
    background: linear-gradient(
      135deg,
      #405de6,
      #5851db,
      #833ab4,
      #c13584,
      #e1306c,
      #fd1d1d
    );
  }
  
  #linkedin:hover {
    background-color: #0077B5;
  }
  
  #telephone:hover {
    background-color: #55ac36;
  }
  
